body{

	background-color:rgb(203, 176, 176);
	color: rgba(255, 255, 255, 0.85);
	font-family: Playfair+isplay;
	font-weight: 300;
}

h1{
	color:white;
	font-family:times, serif;
	font-weight:700
	font-size:50px;
	letter-spacing: 12px;
}

h2{
	color:rgb(243, 228, 234);
	font-family:Times,serif;
	font-weight:300
	font-size:30px;
}

a{
	text-decoration: none;
	color: rgb(100,100,100);
	font-family: 'Marck Script', cursive;
	font-size: 20px;
	font-weight: bold ;
	transition: color 0.3s ease;
}

a:hover{
	color:rgb(147, 109, 123);
}




/*custom design with class*/


.container{
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 500px) {
	.container{
		background-color: rgb(147, 109, 123);
		width: 400px;
	}
}

.box-white{
	background-color: #b9a4a9bf;
	padding: 40px;
	box-shadow: 0px 8px 10px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.btn-grey{
	background-color: rgba(230,230,230,0.3);
	padding: 15px 20px;
	border-radius: 8px;

}

.btn-grey:hover{
	background-color: rgba(230,230,230,0.5);	
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
}

#introduction p{
	margin-bottom: 40px;
}

.image-circle{
	border-radius: 50%;
}
.shadowed{
	box-shadow: 0px 5px 10px white;
}